.account {
    position: absolute;
    top: 0;
    right: 1%;
    display: flex;
    width: 10vw;
}

.account ul {
    flex-direction: column;
    padding: 5%;
    border-left: 4px solid #FFF;
    border-top: 4px solid #FFF;
    border-radius: 15px;
    margin: 5%;
}

.account li {
    width: 100%;
    padding: 2%;
}

.account button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
}

.account button:hover {
    background-color: #FFF2;
}

@media (max-width: 1350px) {
    .account {
        bottom: 25px;
        right: 75px;
        height: 30%;
    }

    .account ul {
        border: none;
    }

    .account li {
        padding: 2px;
        margin: 0;
    }

    .account button {
        font-size: 0.8rem;
        padding: 5px 8px; /* Encore plus compact */
    }
}