footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 191, 46);
    width: 100%;
    height: 5rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 20%;
    margin-right: 20%;
}

footer li,
footer a {
    color: #FFF;
    font-weight: bold;
    font-size: large;
}

footer .fas {
    color: #FFF;
}

footer p {
    text-align: center;
    color: #FFF;
}

@media (max-width: 1390px) {
    footer {
        width: 100vw;
        height: 7rem;
    }
}