header {
    display: flex;
    align-items: center;
    height: 6vw;
    background-color: rgb(255, 191, 46);
    padding-right: 50vw;
}

.div-logo {
    flex: none;
}

header .logo {
    align-items: center;
    height: 5vw;
    margin: 10px 0 0 10px;
    max-height: 50px;
    width: auto;
}

header li {
    font-size: 1.1rem;
    list-style: none;
    margin: 0 5px;
    white-space: nowrap;
}

.logo-link .logo {
    transition: all .3s ease-in-out;
    width: 100%;
}

.logo-link:hover .logo {
    transform: scale(1.1);
}

@media (max-width: 1350px) {
    header {
        height: 50vh;
        padding: 0 8px;
    }

    header .separator {
        display: none;
    }

    header ul {
        flex-direction: column;
        position: absolute;
        top: 20px;
    }

    .div-logo {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    header li {
        font-size: 1.1rem;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        height: 45vh;
        padding: 10px;
    }

    .div-logo {
        display: none;
    }

    header ul {
        flex-direction: column;
    }

    header li {
        font-size: 1rem;
        margin: 5px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 8px;
    }

    header li {
        font-size: 0.9rem;
        margin: 3px;
    }
}
