.summary-index {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.summary-index ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.summary-index li {
    padding: 15px;
    margin: 10px 0;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    transition: all 0.3s ease;
}

.summary-index li:hover {
    border-color: rgb(255, 191, 46);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary-index .summary-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.summary-index .summary-item span {
    font-weight: bold;
    color: #333;
    flex-grow: 1;
}

.summary-index .summary-actions {
    display: flex;
    gap: 10px;
}

.summary-index .action-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.summary-index .action-btn:hover {
    transform: scale(1.2);
}

.summary-index .action-btn.delete {
    color: #dc3545;
    margin-left: 20px;
}

.summary-index .action-btn.modify {
    color: #007bff;
}

.summary-index .action-btn.insert-sub {
    color: #28a745;
}

.summary-index .action-btn.insert-down {
    color: rgb(255, 191, 46);
    margin-right: 20px;
}
